body {
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
#container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    align-items: flex-start;
}
.container__card {
    /* margin-left: 10px; */
    max-width: 16em;
    width: 20%;
    min-width: 10em;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s cubic-bezier(0.42, 0, 0.58, 1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.container__card h3{
    height: 3em;
    padding-top:0;
}
.container__card__img {
    height: 9em;
    
}
.container__card__img img {
    height: 100%;
    width: auto;
}
.container__card__description {
    overflow: auto;
    height: 4em;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

nav {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

/* .search-container {
    background-color: #fff;
    border-radius: 5px;
    display: inline-block;
} */

input[type="text"] {
    padding: 10px;
    font-size: 1em;
    width: 20em;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

#searchButton {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #abacae;
    color: #fff;
}
@media screen and (max-width: 600px) {
    .container__card {
        margin-left:10px;
    }
}